In [1]:
import numpy as np

import pandas as pd

In [4]:
df=pd.read_csv('exoplanet_data.csv')

NameError: name 'pd' is not defined

In [3]:
df.head()

,pl_name,hostname,sy_snum,sy_pnum,pl_orbper,pl_orbsmax,pl_rade,pl_radj,pl_bmasse,pl_bmassj,...,st_teff,st_rad,st_mass,st_met,st_lum,st_logg,sy_dist,disc_year,discoverymethod,disc_facility
0,HR 8799 d,HR 8799,1,4,37000.00000,24.00000,13.000000,1.200,3000.00000,10.000,...,NaN,NaN,1.500,-0.47,0.69197,NaN,41.2441,2008,Imaging,W. M. Keck Observatory
1,WASP-96 b,WASP-96,1,1,3.42526,0.04530,13.450000,1.200,152.55000,0.480,...,5540.0,1.050,1.060,0.14,NaN,4.420,352.4640,2014,Transit,SuperWASP
2,HD 114783 b,HD 114783,1,2,493.70000,1.16000,NaN,NaN,349.60000,1.100,...,5135.0,NaN,0.853,0.21,NaN,NaN,21.0628,2001,Radial Velocity,W. M. Keck Observatory
3,HAT-P-1 b,HAT-P-1,2,1,4.46530,0.05561,14.784671,1.319,166.86075,0.525,...,5980.0,1.174,1.151,0.13,NaN,4.359,158.9790,2006,Transit,HATNet
4,HR 8799 b,HR 8799,1,4,170000.00000,68.00000,13.000000,1.200,2000.00000,7.000,...,NaN,NaN,1.500,-0.47,0.69197,NaN,41.2441,2008,Imaging,Gemini Observatory

In [4]:
df.size

151300

In [5]:
df.isnull().sum()

pl_name               0
hostname              0
sy_snum               0
sy_pnum               0
pl_orbper           320
pl_orbsmax         2274
pl_rade            1542
pl_radj            1542
pl_bmasse          3076
pl_bmassj          3076
pl_orbeccen        3488
pl_eqt             4417
pl_insol           5159
pl_dens            4910
st_spectype        4767
st_teff             695
st_rad              772
st_mass             747
st_met             1767
st_lum             4621
st_logg            1036
sy_dist             123
disc_year             0
discoverymethod       0
disc_facility         0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6052 entries, 0 to 6051
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pl_name          6052 non-null   object
 1   hostname         6052 non-null   object
 2   sy_snum          6052 non-null   int64
 3   sy_pnum          6052 non-null   int64
 4   pl_orbper        5732 non-null   float64
 5   pl_orbsmax       3778 non-null   float64
 6   pl_rade          4510 non-null   float64
 7   pl_radj          4510 non-null   float64
 8   pl_bmasse        2976 non-null   float64
 9   pl_bmassj        2976 non-null   float64
 10  pl_orbeccen      2564 non-null   float64
 11  pl_eqt           1635 non-null   float64
 12  pl_insol         893 non-null    float64
 13  pl_dens          1142 non-null   float64
 14  st_spectype      1285 non-null   object
 15  st_teff          5357 non-null   float64
 16  st_rad           5280 non-null   float64
 17  st_mass          5305 non-null   float64
 18  st_met           4285 non-null   float64
 19  st_lum           1431 non-null   float64
 20  st_logg          5016 non-null   float64
 21  sy_dist          5929 non-null   float64
 22  disc_year        6052 non-null   int64
 23  discoverymethod  6052 non-null   object
 24  disc_facility    6052 non-null   object
dtypes: float64(17), int64(3), object(5)
memory usage: 1.2+ MB

In [7]:
df.isnull().sum().sort_values(ascending=False)

pl_insol           5159
pl_dens            4910
st_spectype        4767
st_lum             4621
pl_eqt             4417
pl_orbeccen        3488
pl_bmassj          3076
pl_bmasse          3076
pl_orbsmax         2274
st_met             1767
pl_radj            1542
pl_rade            1542
st_logg            1036
st_rad              772
st_mass             747
st_teff             695
pl_orbper           320
sy_dist             123
hostname              0
sy_pnum               0
pl_name               0
sy_snum               0
disc_year             0
discoverymethod       0
disc_facility         0
dtype: int64

In [8]:
num_cols = df.select_dtypes(include=np.number).columns
cat_cols = df.select_dtypes(include='object').columns

print("Numerical columns:", len(num_cols))
print("Categorical columns:", len(cat_cols))

Numerical columns: 20
Categorical columns: 5