In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('./Dataset/phl_exoplanet_catalog_2019.csv')
df.head()

,P_NAME,P_STATUS,P_MASS,P_MASS_ERROR_MIN,P_MASS_ERROR_MAX,P_RADIUS,P_RADIUS_ERROR_MIN,P_RADIUS_ERROR_MAX,P_YEAR,P_UPDATED,...,P_HABZONE_CON,P_TYPE_TEMP,P_HABITABLE,P_ESI,S_CONSTELLATION,S_CONSTELLATION_ABR,S_CONSTELLATION_ENG,P_RADIUS_EST,P_MASS_EST,P_SEMI_MAJOR_AXIS_EST
0,11 Com b,3.0,6165.86330,-476.74200,476.74200,NaN,NaN,NaN,2007,2014-05-14,...,0,Hot,0,0.083813,Coma Berenices,Com,Berenice's Hair,12.082709,6165.86330,1.29
1,11 UMi b,3.0,4684.78480,-794.57001,794.57001,NaN,NaN,NaN,2009,2018-09-06,...,0,Hot,0,0.082414,Ursa Minor,UMi,Little Bear,12.229641,4684.78480,1.53
2,14 And b,3.0,1525.57440,NaN,NaN,NaN,NaN,NaN,2008,2014-05-14,...,0,Hot,0,0.081917,Andromeda,And,Andromeda,12.848516,1525.57440,0.83
3,14 Her b,3.0,1481.07850,-47.67420,47.67420,NaN,NaN,NaN,2002,2018-09-06,...,0,Cold,0,0.145241,Hercules,Her,Hercules,12.865261,1481.07850,2.93
4,16 Cyg B b,3.0,565.73385,-25.42624,25.42624,NaN,NaN,NaN,1996,2018-09-06,...,1,Warm,0,0.368627,Cygnus,Cyg,Swan,13.421749,565.73385,1.66

In [ ]:
df.shape

(4048, 112)

In [ ]:
df.columns

Index(['P_NAME', 'P_STATUS', 'P_MASS', 'P_MASS_ERROR_MIN', 'P_MASS_ERROR_MAX',
       'P_RADIUS', 'P_RADIUS_ERROR_MIN', 'P_RADIUS_ERROR_MAX', 'P_YEAR',
       'P_UPDATED',
       ...
       'P_HABZONE_CON', 'P_TYPE_TEMP', 'P_HABITABLE', 'P_ESI',
       'S_CONSTELLATION', 'S_CONSTELLATION_ABR', 'S_CONSTELLATION_ENG',
       'P_RADIUS_EST', 'P_MASS_EST', 'P_SEMI_MAJOR_AXIS_EST'],
      dtype='object', length=112)

In [ ]:
df.dtypes

P_NAME                    object
P_STATUS                 float64
P_MASS                   float64
P_MASS_ERROR_MIN         float64
P_MASS_ERROR_MAX         float64
                          ...
S_CONSTELLATION_ABR       object
S_CONSTELLATION_ENG       object
P_RADIUS_EST             float64
P_MASS_EST               float64
P_SEMI_MAJOR_AXIS_EST    float64
Length: 112, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4048 entries, 0 to 4047
Columns: 112 entries, P_NAME to P_SEMI_MAJOR_AXIS_EST
dtypes: float64(94), int64(4), object(14)
memory usage: 3.5+ MB

In [ ]:
df.describe()

,P_STATUS,P_MASS,P_MASS_ERROR_MIN,P_MASS_ERROR_MAX,P_RADIUS,P_RADIUS_ERROR_MIN,P_RADIUS_ERROR_MAX,P_YEAR,P_PERIOD,P_PERIOD_ERROR_MIN,...,S_SNOW_LINE,S_ABIO_ZONE,S_TIDAL_LOCK,P_HABZONE_OPT,P_HABZONE_CON,P_HABITABLE,P_ESI,P_RADIUS_EST,P_MASS_EST,P_SEMI_MAJOR_AXIS_EST
count,4048.0,1598.000000,1467.000000,1467.000000,3139.000000,3105.000000,3105.000000,4048.000000,3.938000e+03,3.807000e+03,...,3786.000000,3.083000e+03,3281.000000,4048.000000,4048.000000,4048.000000,3721.000000,4048.000000,4048.000000,3978.000000
mean,3.0,798.384920,-152.292232,190.289692,4.191426,-0.483990,0.621867,2014.212945,2.309342e+03,-1.073631e+03,...,3.513348,1.768991e+35,0.440103,0.049654,0.034091,0.021986,0.261252,5.588647,323.089993,4.011385
std,0.0,1406.808654,783.366353,1082.061976,4.776830,1.409048,2.007592,3.704839,1.167012e+05,5.943181e+04,...,5.463171,6.944274e+36,0.074285,0.217256,0.181485,0.195731,0.131333,5.392733,965.084290,62.389968
min,3.0,0.019070,-24965.390000,0.000000,0.336300,-54.592700,0.000000,1989.000000,9.070629e-02,-3.650000e+06,...,0.002405,7.293660e-05,0.030707,0.000000,0.000000,0.000000,0.006768,0.000000,0.000000,0.004400
25%,3.0,26.548968,-79.457001,4.449592,1.569400,-0.526870,0.145730,2014.000000,4.497336e+00,-1.129000e-03,...,1.740762,5.264169e-01,0.420337,0.000000,0.000000,0.000000,0.196982,1.703920,3.628101,0.053000
50%,3.0,273.332080,-24.154928,25.108412,2.331680,-0.235410,0.325090,2016.000000,1.187053e+01,-9.392000e-05,...,2.568600,1.429118e+00,0.448357,0.000000,0.000000,0.000000,0.271192,2.667980,7.815324,0.102199
75%,3.0,806.488560,-4.392383,85.813561,3.553570,-0.134520,0.661390,2016.000000,4.186661e+01,-1.594000e-05,...,3.661581,2.641037e+00,0.472140,0.000000,0.000000,0.000000,0.303346,11.770500,149.379160,0.260507
max,3.0,17668.059000,0.270000,26630.808000,77.349000,0.450000,68.919080,2019.000000,7.300000e+06,3.200000e-02,...,104.112780,2.726899e+38,1.322542,1.000000,1.000000,2.000000,0.931208,77.349000,17668.059000,2500.000000

In [ ]:
miss_count = df.isnull().sum()
miss_count.sort_values(ascending=False)

P_DETECTION_MASS    4048
P_GEO_ALBEDO        4048
S_MAGNETIC_FIELD    4048
S_DISC              4048
P_ATMOSPHERE        4048
                    ...
S_DEC                  0
P_STATUS               0
S_ALT_NAMES            0
S_DEC_T                0
P_NAME                 0
Length: 112, dtype: int64

In [ ]:
col_should_drop = miss_count[miss_count == len(df)]
col_should_drop

P_GEO_ALBEDO          4048
P_DETECTION_MASS      4048
P_DETECTION_RADIUS    4048
P_ALT_NAMES           4048
P_ATMOSPHERE          4048
S_DISC                4048
S_MAGNETIC_FIELD      4048
dtype: int64

In [ ]:
new_df = df.drop(columns=col_should_drop.index)
new_df.shape

(4048, 105)

In [ ]:
num_col = new_df.select_dtypes(include=['int64', 'float64']).columns
df[num_col].describe()

,P_STATUS,P_MASS,P_MASS_ERROR_MIN,P_MASS_ERROR_MAX,P_RADIUS,P_RADIUS_ERROR_MIN,P_RADIUS_ERROR_MAX,P_YEAR,P_PERIOD,P_PERIOD_ERROR_MIN,...,S_SNOW_LINE,S_ABIO_ZONE,S_TIDAL_LOCK,P_HABZONE_OPT,P_HABZONE_CON,P_HABITABLE,P_ESI,P_RADIUS_EST,P_MASS_EST,P_SEMI_MAJOR_AXIS_EST
count,4048.0,1598.000000,1467.000000,1467.000000,3139.000000,3105.000000,3105.000000,4048.000000,3.938000e+03,3.807000e+03,...,3786.000000,3.083000e+03,3281.000000,4048.000000,4048.000000,4048.000000,3721.000000,4048.000000,4048.000000,3978.000000
mean,3.0,798.384920,-152.292232,190.289692,4.191426,-0.483990,0.621867,2014.212945,2.309342e+03,-1.073631e+03,...,3.513348,1.768991e+35,0.440103,0.049654,0.034091,0.021986,0.261252,5.588647,323.089993,4.011385
std,0.0,1406.808654,783.366353,1082.061976,4.776830,1.409048,2.007592,3.704839,1.167012e+05,5.943181e+04,...,5.463171,6.944274e+36,0.074285,0.217256,0.181485,0.195731,0.131333,5.392733,965.084290,62.389968
min,3.0,0.019070,-24965.390000,0.000000,0.336300,-54.592700,0.000000,1989.000000,9.070629e-02,-3.650000e+06,...,0.002405,7.293660e-05,0.030707,0.000000,0.000000,0.000000,0.006768,0.000000,0.000000,0.004400
25%,3.0,26.548968,-79.457001,4.449592,1.569400,-0.526870,0.145730,2014.000000,4.497336e+00,-1.129000e-03,...,1.740762,5.264169e-01,0.420337,0.000000,0.000000,0.000000,0.196982,1.703920,3.628101,0.053000
50%,3.0,273.332080,-24.154928,25.108412,2.331680,-0.235410,0.325090,2016.000000,1.187053e+01,-9.392000e-05,...,2.568600,1.429118e+00,0.448357,0.000000,0.000000,0.000000,0.271192,2.667980,7.815324,0.102199
75%,3.0,806.488560,-4.392383,85.813561,3.553570,-0.134520,0.661390,2016.000000,4.186661e+01,-1.594000e-05,...,3.661581,2.641037e+00,0.472140,0.000000,0.000000,0.000000,0.303346,11.770500,149.379160,0.260507
max,3.0,17668.059000,0.270000,26630.808000,77.349000,0.450000,68.919080,2019.000000,7.300000e+06,3.200000e-02,...,104.112780,2.726899e+38,1.322542,1.000000,1.000000,2.000000,0.931208,77.349000,17668.059000,2500.000000

In [ ]:
new_df.describe(include='object')

,P_NAME,P_UPDATED,P_DETECTION,S_NAME,S_TYPE,S_ALT_NAMES,P_TYPE,S_TYPE_TEMP,S_RA_T,S_DEC_T,P_TYPE_TEMP,S_CONSTELLATION,S_CONSTELLATION_ABR,S_CONSTELLATION_ENG
count,4048,4048,4048,4048,1370,4048,4031,3912,4048,4048,3721,4048,4048,4048
unique,4048,184,10,3010,210,584,6,7,3010,3010,3,88,88,88
top,11 Com b,2016-05-10,Transit,Kepler-90,G5,",",Jovian,G,18 57 44.0416,+49 18 18.5796,Hot,Cygnus,Cyg,Swan
freq,1,1282,3114,8,56,3269,1302,1792,8,8,3341,1371,1371,1371

In [ ]:
new_df[num_col].nunique()

P_STATUS                    1
P_MASS                   1080
P_MASS_ERROR_MIN          473
P_MASS_ERROR_MAX          474
P_RADIUS                  763
                         ...
P_HABITABLE                 3
P_ESI                    3720
P_RADIUS_EST             1472
P_MASS_EST               1549
P_SEMI_MAJOR_AXIS_EST    3020
Length: 91, dtype: int64

In [ ]:
new_df[new_df.select_dtypes(include=['object']).columns].nunique()

P_NAME                 4048
P_UPDATED               184
P_DETECTION              10
S_NAME                 3010
S_TYPE                  210
S_ALT_NAMES             584
P_TYPE                    6
S_TYPE_TEMP               7
S_RA_T                 3010
S_DEC_T                3010
P_TYPE_TEMP               3
S_CONSTELLATION          88
S_CONSTELLATION_ABR      88
S_CONSTELLATION_ENG      88
dtype: int64

In [ ]:
new_df.duplicated().sum()

0

In [ ]:
q1 = new_df[num_col].quantile(0.25)
q3 = new_df[num_col].quantile(0.75)
iqr = q3 - q1
iqr

P_STATUS                   0.000000
P_MASS                   779.939592
P_MASS_ERROR_MIN          75.064618
P_MASS_ERROR_MAX          81.363969
P_RADIUS                   1.984170
                            ...
P_HABITABLE                0.000000
P_ESI                      0.106363
P_RADIUS_EST              10.066580
P_MASS_EST               145.751059
P_SEMI_MAJOR_AXIS_EST      0.207507
Length: 91, dtype: float64

In [ ]:
outliers = ((new_df[num_col] < (q1 - 1.5 * iqr)) | (new_df[num_col] > (q3 + 1.5 * iqr)))
out_count = outliers.sum().sort_values(ascending=False)
print('The count of outliiers :\n',out_count)

The count of outliiers :
 P_PERIOD_ERROR_MIN        798
P_PERIOD_ERROR_MAX        794
P_MASS_EST                715
P_APASTRON                695
P_PERIOD                  691
                         ...
S_AGE_ERROR_MAX             1
P_GEO_ALBEDO_ERROR_MAX      0
P_GEO_ALBEDO_ERROR_MIN      0
P_TEMP_MEASURED             0
P_STATUS                    0
Length: 91, dtype: int64

In [ ]:
df[num_col].skew().sort_values(ascending=False)

P_PERIOD                       62.170001
P_PERIOD_ERROR_MAX             61.467191
P_FLUX_MIN                     45.714727
P_FLUX                         45.699102
S_MASS_ERROR_MAX               45.649624
                                 ...
P_SEMI_MAJOR_AXIS_ERROR_MIN   -27.083874
S_AGE                         -31.843343
S_RADIUS_ERROR_MIN            -32.113850
S_MASS_ERROR_MIN              -45.449160
P_PERIOD_ERROR_MIN            -60.895945
Length: 91, dtype: float64

In [ ]:
corr = new_df.corr(numeric_only=True)
corr

,P_STATUS,P_MASS,P_MASS_ERROR_MIN,P_MASS_ERROR_MAX,P_RADIUS,P_RADIUS_ERROR_MIN,P_RADIUS_ERROR_MAX,P_YEAR,P_PERIOD,P_PERIOD_ERROR_MIN,...,S_SNOW_LINE,S_ABIO_ZONE,S_TIDAL_LOCK,P_HABZONE_OPT,P_HABZONE_CON,P_HABITABLE,P_ESI,P_RADIUS_EST,P_MASS_EST,P_SEMI_MAJOR_AXIS_EST
P_STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P_MASS,NaN,1.000000,-0.586394,0.512819,0.243671,-0.166710,0.167652,-0.096525,0.078424,-0.076798,...,0.459698,0.021370,0.069970,-0.013233,-0.015723,-0.064295,-0.141129,0.260319,1.000000,0.212207
P_MASS_ERROR_MIN,NaN,-0.586394,1.000000,-0.847396,-0.218779,0.609500,-0.598256,0.027366,-0.053413,0.052059,...,-0.465751,0.000296,-0.169041,0.033788,0.027341,0.022998,0.080344,-0.115873,-0.586394,-0.099808
P_MASS_ERROR_MAX,NaN,0.512819,-0.847396,1.000000,0.090935,-0.288775,0.285434,-0.020358,0.048079,-0.046210,...,0.344190,-0.001233,0.049145,-0.035744,-0.028855,-0.020819,-0.072911,0.092648,0.512819,0.069684
P_RADIUS,NaN,0.243671,-0.218779,0.090935,1.000000,-0.419165,0.305165,-0.258949,0.063718,-0.041956,...,0.409649,-0.022206,0.230178,-0.026125,-0.018795,-0.051233,-0.676777,1.000000,0.414232,0.086249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P_HABITABLE,NaN,-0.064295,0.022998,-0.020819,-0.051233,0.024242,-0.022894,0.037158,-0.002153,0.002093,...,-0.055060,-0.003187,-0.144403,0.491481,0.298875,1.000000,0.427273,-0.076826,-0.037088,-0.006669
P_ESI,NaN,-0.141129,0.080344,-0.072911,-0.676777,0.201943,-0.150495,0.182560,-0.024672,0.024136,...,-0.272444,-0.009657,-0.368485,0.441087,0.309974,0.427273,1.000000,-0.585603,-0.245808,-0.047770
P_RADIUS_EST,NaN,0.260319,-0.115873,0.092648,1.000000,-0.419165,0.305165,-0.403430,0.023095,-0.019798,...,0.311095,0.030292,0.202205,0.108478,0.117999,-0.076826,-0.585603,1.000000,0.439259,0.087746
P_MASS_EST,NaN,1.000000,-0.586394,0.512819,0.414232,-0.186111,0.137779,-0.248147,0.080493,-0.078006,...,0.498935,0.030467,0.084373,0.042627,0.038299,-0.037088,-0.245808,0.439259,1.000000,0.223578
P_SEMI_MAJOR_AXIS_EST,NaN,0.212207,-0.099808,0.069684,0.086249,-0.039239,0.032450,-0.062422,0.828163,-0.861710,...,0.001829,0.001158,-0.159075,-0.010433,-0.008236,-0.006669,-0.047770,0.087746,0.223578,1.000000

In [ ]:
new_df.columns

Index(['P_NAME', 'P_STATUS', 'P_MASS', 'P_MASS_ERROR_MIN', 'P_MASS_ERROR_MAX',
       'P_RADIUS', 'P_RADIUS_ERROR_MIN', 'P_RADIUS_ERROR_MAX', 'P_YEAR',
       'P_UPDATED',
       ...
       'P_HABZONE_CON', 'P_TYPE_TEMP', 'P_HABITABLE', 'P_ESI',
       'S_CONSTELLATION', 'S_CONSTELLATION_ABR', 'S_CONSTELLATION_ENG',
       'P_RADIUS_EST', 'P_MASS_EST', 'P_SEMI_MAJOR_AXIS_EST'],
      dtype='object', length=105)